<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Formulario</title>
</head>
<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <h1 class="text-light bg-dark">FORMULARIO</h1>
  <form>
    <div class="form-group">
      <label for="Controll">Matricula</label>
      <input type="number" class="form-control" id="Controll01" placeholder="1718110405">
    </div>
    <div class="form-group">
      <label for="Controll">Nombre</label>
      <input type="text" class="form-control" id="Controll02" placeholder="Fernando">
    </div>
    <div class="form-group">
      <label for="Controll">Primer apellido</label>
      <input type="text" class="form-control" id="Controll03" placeholder="Perez">
    </div>
    <div class="form-group">
      <label for="Controll">Segundo apellido</label>
      <input type="text" class="form-control" id="Controll04" placeholder="Suarez">
    </div>
    <div class="form-group">
      <label for="Controll">Edad</label>
      <input type="number" class="form-control" id="Controll05" placeholder="22">
    </div>
    <div class="form-group">
      <label for="Controll">Fecha de nacimiento</label>
      <input type="date" class="form-control" id="Controll06" placeholder="">
    </div>
    <div>
      <label for="Controll">Genero</label>
      <select class="form-control" id="Controll07" required>
        <option selected disabled value="">Seleccionar...</option>
        <option>Hombre</option>
        <option>Mujer</option>
        <option>Otro</option>
      </select>
    </div>
    <div>
      <label for="Controll">Estado</label>
      <select class="form-control" id="Controll07" required>
        <option selected disabled value="">Seleccionar...</option>
        <option>Hidalgo</option>
        <option>Veracruz</option>
        <option>Otro</option>
      </select>
    </div>
    <br>
    <br>
    <button type="button" class="btn btn-warning">Guardar</button>
    <br>
    <br>
</body>
</html>